.P1{
  opacity: 0.1;
  border-radius: 50%;
  position: fixed;
  left: 5%;
  bottom: 10%;
}
.P2{
  opacity: 0.1;
  border-radius: 50%;
  position: fixed;
  left: 30%;
  bottom: 60%;
}
.P3{
  opacity: 0.1;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  bottom: 20%;
}
.P4{
  opacity: 0.1;
  border-radius: 50%;
  position: fixed;
  left: 85%;
  bottom: 45%;
}
.header{
  width:40%;
  position:absolute;
  transform: translate(-50%,-50%);
  top:30%;
  left:80%;
  text-align: center;
}
.Road{
  height:94vh;
  position: fixed;
  left:-20%;
}

.blurred-bg-container .content h1 {
  margin: 0;
}

.blurred-bg-container .content {
  background: inherit;
  width: 450px;
  height: 550px;
  border-radius: 8px;
  border: 2px  rgb(200, 255, 0);
  box-shadow: 0 0 50px rgb(0, 255, 42);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:cursive
}

.content2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  background:linear-gradient(45deg,rgba(5, 125, 15, 0.512),
  rgb(4, 49, 2),rgb(15, 191, 6, 0.503),rgb(3, 89, 10));
  padding:30px;
  display: flex;
  height: 400px;
  width: 350px;
  flex-direction: column;
  align-items: center;
}

.profile-card img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #1e1e2e;
  margin-bottom: 20px;
}

.btn2{
  width: 200px;
  padding: 10px;
  position: relative;
  top: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #5cfb99;
  transition: 0.3s ease;
  border-radius: 60px;
}

.btn2-out{
  border: 1px solid #5cfb94;
  color: #fff;
  background-color: #625b7c;
  margin-bottom: 10px;
}

.btn2:hover{
  border: 1px solid #1e1e2e;
  color: #b02222;
  transform: translateY(-10px);
  pointer-events: visible;
  background-color: #625b7c63;
}

.alert_box,
.show_button{
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50% , -50%);
}
.show_button{
  height: 150px;
  width: 200px;
  padding: 0 30px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(0, 255, 8);
  line-height: 150px;
  background-color: #2d283faa;
  border: 1px solid #3cff00;
  border-radius: 40%;
  transition: 0.3s ease;
}
.show_button:hover{
  border: 3px solid #000000aa;
  color: #ffffff;
  pointer-events: visible;
  background-color: #11d40e6c;
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.387);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box{
  padding: 30px;
  display: flex;
  background: url(../assets/artickleBackground.jpg);
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 60px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check:checked ~ .alert_box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
}
#check{
  display: none;
}
.icon img{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #671d15;
  box-shadow: 0 0 100px rgb(251, 6, 6);
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box header{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box p{
  font-size: 20px;
}
.button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}
.OutButton{
  position: relative;
}
.OutButton:hover{
  position: relative;
  color:red;
  font-weight: 300;
}
.OutButton:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #e20202;
  border-right: 3px solid #e20202;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.OutButton:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 3px solid #e20202;
  border-left: 3px solid #e20202;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.OutButton:hover:after, .OutButton:hover:before {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  transition: all 0.4s, opacity 0.1s;
  opacity: 1;
}
.GoButton{
  position: relative;
}
.GoButton:hover{
  position: relative;
  color:rgb(0, 81, 255);
  font-weight: 300;
}
.GoButton:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid rgb(0, 81, 255);
  border-right: 3px solid rgb(0, 81, 255);
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.GoButton:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 3px solid rgb(0, 81, 255);
  border-left: 3px solid rgb(0, 81, 255);
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.GoButton:hover:after, .GoButton:hover:before {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  transition: all 0.4s, opacity 0.1s;
  opacity: 1;
}

.alert_box1,
.show_button1{
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50% , -50%);
}
.show_button1{
  height: 150px;
  width: 200px;
  padding: 0 30px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(0, 255, 8);
  line-height: 150px;
  background-color: #2d283faa;
  border: 1px solid #3cff00;
  border-radius: 40%;
  transition: 0.3s ease;
}
.show_button1:hover{
  border: 3px solid #000000aa;
  color: #ffffff;
  pointer-events: visible;
  background-color: #11d40e6c;
}
.background1{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box1{
  padding: 30px;
  display: flex;
  background: url(../assets/artickleBackground.jpg);
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 60px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check1:checked ~ .alert_box1{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check1:checked ~ .background1{
  opacity: 1;
  pointer-events: auto;
}
#check1{
  display: none;
}
.icon1 img{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #671d15;
  box-shadow: 0 0 100px rgb(251, 6, 6);
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box1 header{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box1 p{
  font-size: 20px;
}
.alert_box2,
.show_button2{
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50% , -50%);
}
.show_button2{
  height: 150px;
  width: 200px;
  padding: 0 30px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(0, 255, 8);
  line-height: 150px;
  background-color: #2d283faa;
  border: 1px solid #3cff00;
  border-radius: 40%;
  transition: 0.3s ease;
}
.show_button2:hover{
  border: 3px solid #000000aa;
  color: #ffffff;
  pointer-events: visible;
  background-color: #11d40e6c;
}
.background2{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box2{
  padding: 30px;
  display: flex;
  background: url(../assets/artickleBackground.jpg);
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 60px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check2:checked ~ .alert_box2{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check2:checked ~ .background2{
  opacity: 1;
  pointer-events: auto;
}
#check2{
  display: none;
}
.icon2 img{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #671d15;
  box-shadow: 0 0 100px rgb(251, 6, 6);
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box2 header{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box2 p{
  font-size: 20px;
}
.alert_box3,
.show_button3{
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50% , -50%);
}
.show_button3{
  height: 150px;
  width: 200px;
  padding: 0 30px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(0, 255, 8);
  line-height: 150px;
  background-color: #2d283faa;
  border: 1px solid #3cff00;
  border-radius: 40%;
  transition: 0.3s ease;
}
.show_button3:hover{
  border: 3px solid #000000aa;
  color: #ffffff;
  pointer-events: visible;
  background-color: #11d40e6c;
}
.background3{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box3{
  padding: 30px;
  display: flex;
  background: url(../assets/artickleBackground.jpg);
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 60px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check3:checked ~ .alert_box3{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check3:checked ~ .background3{
  opacity: 1;
  pointer-events: auto;
}
#check3{
  display: none;
}
.alert_box3 header{
  font-size: 35px;
  font-weight: 500;
  margin: 5px 0;
}
.alert_box3 p{
  font-size: 20px;
  margin: -3px;
}
.signElements{
  margin-bottom: 10px;
}
.icon3 img{
  height: 100px;
  width: 100px;
  border: 3px solid #671d15;
  box-shadow: 0 0 100px rgb(251, 6, 6);
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
